<!doctype html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% if data %}
        {% for key in data%}
            <p>{{ data[key] }}</p>
        {% endfor %}
    {% else %}
        <p>Not Found</p>
    {% endif %}
    {% if banks %}
        {% for key in data%}
            <p>{{ data[key] }}</p>
        {% endfor %}
    {% else %}
        <p>Not Found</p>
    {% endif %}
</body>
</html>