<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>World Map</title>
</head>
<body>
    <!-- Container block -->
    {% if title %}
        <h1 align="center">{{ title }}</h1>
    {% else %}
        <h1>Map</h1>
    {% endif %}
    <div id="container" style="position: relative; width: 100%; height: 1200px;"></div>
    <!-- End container block -->
    <!-- Scripts block -->
    <!-- CDN scripts -->    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
    <script 
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
    </script>
    <!-- Local(static) scripts -->
    <script src="..{{ url_for('static', filename='datamaps.world.js') }}"></script>
    <script src="..{{ url_for('static', filename='custom.map.js') }}"></script>
    <!-- End scripts block -->
</body>
</html>